exam.example.com {
    encode zstd gzip

    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        root * /srv/oh-my-exam/frontend/dist
        try_files {path} /index.html
        file_server
    }
}
